.loader {
  width: clamp(3.375rem, 0.87rem + 10.69vw, 6rem);
  height: clamp(1.125rem, 0.767rem + 1.53vw, 1.5rem);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);
}

.dot {
  position: relative;

  width: clamp(0.625rem, 0.386rem + 1.02vw, 0.875rem);
  height: clamp(0.875rem, 0.756rem + 0.51vw, 1rem);
}

.dotSvg {
  position: absolute;
  bottom: 0;
  left: 0;

  width: clamp(0.625rem, 0.386rem + 1.02vw, 0.875rem);
  height: clamp(0.625rem, 0.386rem + 1.02vw, 0.875rem);

  animation-name: dotDance;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader .dot:nth-child(2n) .dotSvg {
  animation-delay: 0.2s;
}

.loader .dot:nth-child(3n) .dotSvg {
  animation-delay: 0.4s;
}

@keyframes dotDance {
  0%,
  60% {
    bottom: 0;
  }
  100% {
    bottom: 2px;
  }
}
