.button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;

  background: var(--accent-color);
  width: clamp(12.125rem, 7.593rem + 19.34vw, 16.875rem);
  height: clamp(3.125rem, 1.813rem + 5.6vw, 4.5rem);

  border: none;
  border-radius: var(--border-radius);

  color: var(--light-color);
  font-weight: 700;
  font-size: clamp(0.875rem, 0.517rem + 1.53vw, 1.25rem);
  line-height: clamp(1.125rem, 0.767rem + 1.53vw, 1.5rem);

  transition: background-color var(--transition-duration) ease-in;
}

.button:disabled {
  pointer-events: none;
  background-color: var(--accent-dim-color);
}

.button:disabled + .tip {
  color: var(--dark-color-accent);
}

.tip {
  font-size: 10px;
  line-height: 120%;
  color: var(--dark-color);

  margin-top: 8px;

  transition: color var(--transition-duration) ease-in;
}

@media (max-width: 768px) {
  .tip {
    display: none;
  }
}
