@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Regular.woff') format('woff'), local('Inter-Regular'),
    local('Inter Regular');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Medium.woff') format('woff'), local('Inter-Medium'),
    local('Inter Medium');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter/Inter-Bold.woff') format('woff'), local('Inter-Bold'),
    local('Inter Bold');
  font-weight: bold;
  font-style: normal;
}
