.title {
  text-align: center;
  font-size: clamp(1.125rem, 0.529rem + 2.54vw, 1.75rem);
  line-height: clamp(1.375rem, 0.779rem + 2.54vw, 2rem);
}

.counterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);

  margin-top: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);
}

.btn {
  background: none;
  border: none;

  width: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
  height: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);

  color: var(--dark-color);
}

.btn:not(:disabled):hover {
  color: var(--accent-color);
}

.btn:disabled {
  color: var(--dark-color-accent);
}

.btnSvg {
  width: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
  height: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
}

.btnSvg circle {
  stroke-width: clamp(0.125rem, 0.006rem + 0.51vw, 0.25rem);
}

.btnSvg path {
  stroke-width: clamp(0.5px, 0.001rem + 0.13vw, 1px);
}

.input {
  width: clamp(5.5rem, 3.711rem + 7.63vw, 7.375rem);
  height: clamp(3.25rem, 1.819rem + 6.11vw, 4.75rem);

  background: none;
  box-sizing: border-box;
  border: clamp(0.125rem, 0.006rem + 0.51vw, 0.25rem) solid var(--dark-color);
  border-radius: var(--border-radius);

  text-align: center;
  font-weight: 700;
  font-size: clamp(1.5rem, 0.784rem + 3.05vw, 2.25rem);
  line-height: clamp(1.75rem, 0.796rem + 4.07vw, 2.75rem);
  color: var(--dark-color);

  transition: color var(--transition-duration) ease-in,
    border var(--transition-duration) ease-in,
    opacity var(--transition-duration) ease-in;
  outline: none;
}

.input:disabled {
  pointer-events: none;
  opacity: 50%;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.input:not(:disabled):hover,
.input:not(:disabled):focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
