.img {
  width: 100%;
  height: clamp(10.188rem, 8.219rem + 8.4vw, 12.25rem);

  background-image: url('@/assets/img/result-img.svg');
  background-repeat: no-repeat;
  background-position: center -12px;
  background-size: clamp(10.188rem, 8.219rem + 8.4vw, 12.25rem);
}

.header {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.023rem + 2.04vw, 1rem);
}

.title {
  font-size: clamp(1.5rem, 0.784rem + 3.05vw, 2.25rem);
  line-height: clamp(1.75rem, 0.796rem + 4.07vw, 2.75rem);
}

.description {
  text-align: center;
  font-size: clamp(1.125rem, 0.529rem + 2.54vw, 1.75rem);
  line-height: clamp(1.375rem, 0.779rem + 2.54vw, 2rem);
}

.success {
  font-weight: 700;
  color: var(--success);
}

.error {
  font-weight: 700;
  color: var(--error);
}
