.question {
  margin: 0;
}

.flag {
  display: block;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.description {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .flag {
    width: clamp(4.5rem, 3.427rem + 4.58vw, 5.625rem);
    height: clamp(3rem, 2.284rem + 3.05vw, 3.75rem);
  }

  .description {
    font-size: clamp(1.125rem, 0.529rem + 2.54vw, 1.75rem);
    line-height: clamp(1.375rem, 0.779rem + 2.54vw, 2rem);

    margin-top: clamp(0.5rem, 0.023rem + 2.04vw, 1rem);
  }
}
