html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

svg *[fill],
svg *[stroke] {
  transition: color var(--transition-duration) ease-in;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg {
  height: inherit;
  width: inherit;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 122%;
  color: var(--dark-color);

  margin-block: 0;
}

p {
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  color: var(--dark-color);

  margin-block: 0;
}

button {
  padding-inline: 0;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

input {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  margin-block: 0;
}

li {
  list-style-type: none;
}

figure {
  margin: 0;
}
