.radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  display: none;
}

.radio-input:not(:disabled):hover + .label {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.radio-input:checked + .label {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.radio-input:checked + .label > .label-text {
  color: var(--light-color);
}

.radio-input:checked + .label > .label-index {
  color: var(--light-color);
}

.radio-input:not(:disabled):hover + .label > .label-text {
  color: var(--light-color);
}

.radio-input:not(:disabled):hover + .label > .label-index {
  color: var(--light-color);
}

.radio-input:disabled + .label::before {
  cursor: auto;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 0.261rem + 1.02vw, 0.75rem);

  background: none;

  box-sizing: border-box;
  border: clamp(0.125rem, 0.006rem + 0.51vw, 0.25rem) solid var(--dark-color);

  border-radius: 10px;

  transition: border var(--transition-duration) ease-in;

  padding: clamp(0.625rem, 0.506rem + 0.51vw, 0.75rem);
}

.label::before {
  content: '';
  display: block;

  position: absolute;
  left: 0;

  cursor: pointer;

  width: 100%;
  height: 100%;
}

.label-index {
  font-weight: 700;
}
.label-text {
  flex-grow: 1;
}

.label-index,
.label-text {
  font-size: clamp(0.875rem, 0.517rem + 1.53vw, 1.25rem);
  line-height: clamp(1.125rem, 0.767rem + 1.53vw, 1.5rem);

  transition: color var(--transition-duration) ease-in;
}

.success {
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}

.success .label-text {
  color: var(--light-color) !important;
}

.success .label-index {
  color: var(--light-color) !important;
}

.error {
  background-color: var(--error) !important;
  border-color: var(--error) !important;
  color: var(--light-color) !important;
}

.result-icon {
  width: clamp(1rem, 0.523rem + 2.04vw, 1.5rem);
  height: clamp(1rem, 0.523rem + 2.04vw, 1.5rem);
}

.result-icon svg {
  width: 100%;
  height: 100%;
}
