.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
  pointer-events: none;
}

.input:not(:disabled):hover + .label {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.input:checked + .label {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.input:checked + .label > .text {
  color: var(--light-color);
}

.input:checked + .label > .prefix {
  color: var(--light-color);
}

.input:not(:disabled):hover + .label > .text {
  color: var(--light-color);
}

.input:not(:disabled):hover + .label > .prefix {
  color: var(--light-color);
}

.input:disabled + .label::before {
  cursor: auto;
}

.input:focus + .label {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.input:disabled {
  opacity: 30%;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 0.261rem + 1.02vw, 0.75rem);

  box-sizing: border-box;
  border: clamp(0.125rem, 0.006rem + 0.51vw, 0.25rem) solid var(--dark-color);

  border-radius: var(--border-radius);

  transition: border var(--transition-duration) ease-in;

  padding: clamp(0.625rem, 0.506rem + 0.51vw, 0.75rem);
}

.label::before {
  content: '';
  display: block;

  position: absolute;
  left: 0;

  cursor: pointer;

  width: 100%;
  height: 100%;
}

.prefix {
  font-weight: 700;
}
.text {
  flex-grow: 1;
}

.prefix,
.text {
  font-size: clamp(0.875rem, 0.517rem + 1.53vw, 1.25rem);
  line-height: clamp(1.125rem, 0.767rem + 1.53vw, 1.5rem);

  transition: color var(--transition-duration) ease-in;
}

.success {
  background-color: var(--success);
  border-color: var(--success);
}

.success .text {
  color: var(--light-color);
}

.success .prefix {
  color: var(--light-color);
}

.error {
  background-color: var(--error) !important;
  border-color: var(--error) !important;
  color: var(--light-color);
}

.icon {
  width: clamp(1rem, 0.523rem + 2.04vw, 1.5rem);
  aspect-ratio: 1;
  color: var(--light-color);
}
