.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;

  background: var(--accent-color);
  width: 270px;
  height: 72px;

  border: none;
  border-radius: 10px;

  color: var(--light-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;

  cursor: pointer;

  transition: all var(--transition-duration) ease-in;
}

.button:disabled {
  cursor: auto;
  pointer-events: none;
  background-color: var(--accent-dim-color);
}

.button:disabled + .description {
  color: var(--dark-color-accent);
}

.description {
  font-size: 10px;
  line-height: 120%;
  color: var(--dark-color);

  margin: 0;
  margin-top: 8px;
}

@media (max-width: 1280px) {
  .description {
    display: none;
  }
}

@media (max-width: 768px) {
  .button {
    width: clamp(12.125rem, 7.593rem + 19.34vw, 16.875rem);
    height: clamp(3.125rem, 1.813rem + 5.6vw, 4.5rem);

    font-size: clamp(0.875rem, 0.517rem + 1.53vw, 1.25rem);
    line-height: clamp(1.125rem, 0.767rem + 1.53vw, 1.5rem);
  }
}
