.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: clamp(2.5rem, 2.023rem + 2.04vw, 3rem);
}

.closeBtn {
  border: none;
  background-color: transparent;

  color: var(--light-color);
}

.closeBtn {
  height: clamp(1.5rem, 0.546rem + 4.07vw, 2.5rem);
  aspect-ratio: 1;
}

.closeBtn:hover .closeSvg {
  color: var(--dark-color);
}
