.btnWrapper {
  text-align: center;
}

.buttonAndCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count {
  font-weight: 700;
  font-size: clamp(0.875rem, 0.517rem + 1.53vw, 1.25rem);
  line-height: clamp(1.125rem, 0.767rem + 1.53vw, 1.5rem);
  color: var(--dark-color);

  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .count {
    margin-bottom: 0;
  }
}
