.info {
  color: var(--light-color);
  font-size: 14px;
  line-height: 114%;

  margin: 0;
}

.info-link {
  color: var(--light-color);
}

@media (max-width: 768px) {
  .info {
    font-size: clamp(0.625rem, 0.386rem + 1.02vw, 0.875rem);
    line-height: clamp(0.75rem, 0.511rem + 1.02vw, 1rem);
  }
}
