@import '@/assets/fonts/stylesheet.css';

html,
body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100%;
}

:root {
  --light-color: #f1f1ef;
  --dark-color: #125365;
  --dark-color-accent: #81a1a9;

  --accent-color: #ff9c46;
  --accent-dim-color: #edd0b6;

  --success: #2a8f55;
  --error: #df4c25;

  --transition-duration: 0.1s;
}
